<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Currency Converter - home</title>
</head>
<body>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

	<form method="post" th:object="${dto}">
    	Get exchange rate<br/>
    	Source currency<br/>
    	<select th:field="*{src}">
  			<option th:each="c : ${sourceCurriencies}" 
          		th:value="${c}" 
          		th:text="${c}">placeholder</option>
		</select><br/>
	
    	Target currency<br/>
    	<select th:field="*{target}">
  			<option th:each="c : ${targetCurriencies}" 
          		th:value="${c}" 
          		th:text="${c}">placeholder</option>
		</select>
		<br/>
		Leave empty for current rate or provide past date (yyyy-mm-dd)<br/>
		<input type="text" id="date" name="date" th:field="*{date}" th:class="${#fields.hasErrors('date')}? error"/>
		<ul>
			<li th:each="err : ${#fields.errors('date')}" th:text="${err}" />
		</ul> 
		
		<div th:if="*{rate}">Rate: <span th:text="*{rate}"></span></div>
		
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="submit" value="Exchange" />
		<div th:if="${#fields.hasErrors('global')}">
		Global errors:
		<ul>
			<li th:each="err : ${#fields.errors('global')}" th:text="${err}" />
		</ul>       
		</div>
    </form>

	<h3>Historical queries</h3>
	<table>
      <tr>
        <th>#</th>
        <th>Curreny Pair</th>
        <th>Date</th>
        <th>Rate</th>
      </tr>
      <tr th:each="h,iterationStatus : ${history}">
        <td th:text="${iterationStatus.count}">1</td>
        <td th:text="${h.sourceCurrency} + ${h.targetCurrency}">USDEUR</td>
        <td th:text="${h.date}">dd/mm/yy</td>
        <td th:text="${h.exchangeRate}">0.0</td>
      </tr>
	</table>


</body>
</html>
