<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Currency Converter - register user</title>
  </head>
  <body>
    <div tiles:fragment="content">
        <form name="f" th:object="${dto}" th:action="@{/register}" method="post">               
            <fieldset>
                <legend>Provide details to register</legend>
                <div th:if="${param.error}" class="alert alert-error">    
                    Invalid username and password.
                </div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" th:field="*{username}" th:class="${#fields.hasErrors('username')}? error"/> 
                <ul>
				  <li th:each="err : ${#fields.errors('username')}" th:text="${err}" />
				</ul>       
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" th:class="${#fields.hasErrors('password')}? error"/>    
                <ul>
				  <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
				</ul>       
                
                <label for="confirm">Password (confirm)</label>
                <input type="password" id="confirm" name="confirm" th:class="${#fields.hasErrors('confirm')}? error"/>    
                <ul>
				  <li th:each="err : ${#fields.errors('confirm')}" th:text="${err}" />
				</ul>       

                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" th:field="*{email}"  th:class="${#fields.hasErrors('email')}? error"/>    
                <ul>
				  <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
				</ul>       

                <label for="birthdayDate">Birthday Date (yyyy-mm-dd)</label>
                <input type="text" id="birthdayDate" name="birthdayDate" th:field="*{birthdayDate}"  th:class="${#fields.hasErrors('birthdayDate')}? error"/>    
                <ul>
				  <li th:each="err : ${#fields.errors('birthdayDate')}" th:text="${err}" />
				</ul>       


                <label for="street">Street</label>
                <input type="text" id="street" name="street" th:field="*{street}"  th:class="${#fields.hasErrors('street')}? error"/>    
                <ul>
				  <li th:each="err : ${#fields.errors('street')}" th:text="${err}" />
				</ul>       

                <label for="zipCode">Zip Code</label>
                <input type="text" id="zipCode" name="zipCode" th:field="*{zipCode}"  th:class="${#fields.hasErrors('zipCode')}? error"/>    
                <ul>
				  <li th:each="err : ${#fields.errors('zipCode')}" th:text="${err}" />
				</ul>       

                <label for="city">City</label>
                <input type="text" id="city" name="city" th:field="*{city}"  th:class="${#fields.hasErrors('city')}? error"/>    
                <ul>
				  <li th:each="err : ${#fields.errors('city')}" th:text="${err}" />
				</ul>       

                <label for="country">Country</label>
                <input type="text" id="country" name="country" th:field="*{country}"  th:class="${#fields.hasErrors('country')}? error"/>    
                <ul>
				  <li th:each="err : ${#fields.errors('country')}" th:text="${err}" />
				</ul>       

                <div class="form-actions">
                    <button type="submit" class="btn">Register</button>
                </div>
            </fieldset>

        </form>
    </div>
  </body>
</html>